<div class="bigSquare" id="staffSquare">
    <div class="top_P" style="overflow: hidden">
        <div class="top_PFl">用户列表</div>
        <div class="top_PFr">
            <span class="selectName" id="selectStaffName">订单号</span>
            <select class="selectName selectName1" style="opacity: 0">
                <option value="订单号">订单号</option>
                <option value="工号">工号</option>
            </select>
            <input type="text" id="seletNameValue" value="00568">
            <span style="position: relative;top: 10px;right: 80px;width: 30px;height: 30px;">
                <img src="../Quote/img/search/搜索-搜索%20(1).png" alt="" style="width: 100%" ng-click="referOrder()">
            </span>
        </div>
    </div>
    <div class="top_P1">
        <span class="top_pNumber">序号</span>
        <span class="top_pLoginName">客户名称</span>
        <span class="top_pName topDefalut">客户电话</span>
        <!--<span class="top_pTel top_addressBaoxiu">公司</span>-->
        <span class="top_pCompany" style="width: 340px">最后一次报修时间</span>
        <span class="top_pOperation" style="width: 250px">操作</span>
    </div>
    <div class="staffListNumber">
        <div class="top_P1 top_P2" ng-repeat="item in itemData track by $index" ng-if="orderList">
            <span class="top_pNumber" style="overflow: hidden">{{$index+1}}</span>
            <span class="top_pLoginName" style="overflow: hidden">{{item.nickname}}</span>
            <span class="top_pName topDefalut" style="overflow: hidden">{{item.tel}}</span>
            <!--<span class="top_pTel top_addressBaoxiu" style="overflow: hidden">{{item.tel}}</span>-->
            <span class="top_pCompany" style="width: 340px;overflow: hidden">{{getLocalTime(item.last_repairs_time)}}</span>
            <span class="top_pOperation"  style="width: 250px;overflow: hidden">
                <span class="top_pOperationConfirmL" ng-click="amend(item.openid,item.tel,item.nickname)" style="cursor:pointer;">修改</span><span class="top_pOperationConfirmM"></span><span class="top_pOperationConfirmR" ng-click="disabled(item.openid)" style="cursor:pointer;">禁用</span>
            </span>
        </div>
        <div class="top_P1 top_P2" ng-if="orderRefer">
            <span class="top_pNumber" style="overflow: hidden">1</span>
            <span class="top_pLoginName" style="overflow: hidden">{{itemData.wxUser.nickname}}</span>
            <span class="top_pName topDefalut" style="overflow: hidden">{{itemData.wxUser.tel}}</span>
            <!--<span class="top_pTel top_addressBaoxiu" style="overflow: hidden">{{itemData.orderDetail.loc}}</span>-->
            <span class="top_pCompany" style="width: 340px;overflow: hidden">{{getLocalTime(itemData.wxUser.last_repairs_time)}}</span>
            <span class="top_pOperation"  style="width: 250px;overflow: hidden">
                <span class="top_pOperationConfirmL" ng-click="amend(itemData.wxUser.nickname)" style="cursor:pointer;">修改</span><span class="top_pOperationConfirmM"></span><span class="top_pOperationConfirmR" ng-click="disabled(itemData.wxUser.nickname)" style="cursor:pointer;">禁用</span>
            </span>
        </div>
    </div>
</div>
<div id="pageNumber">
    <div id="pageLftUp" style="position: absolute;top: 893px;left: 1481px;display: none">下一页</div>
    <div class="ep-pages" style="position: absolute;top: 868px;right: 130px;"></div>
    <div id="pageRightDown" style="position: absolute;top: 893px;left: 1180px;display: none">上一页</div>
</div>
<!--*******************************************隐藏修改资料界面********************************************-->
<div class="mark1" style="display: block;" ng-show="markFlaguserList">
    <div id="addStaff" style="display: block;height: 416px;margin-top: -208px" ng-show="markFlaguserListadd">
        <div class="addStaff_Top">
            <div class="addStaff_TopL">
                修改资料
            </div>
            <div class="addStaff_TopR" style="cursor: pointer" ng-click="amenddisable()">
                X
            </div>
        </div>
        <div class="addStaff_Bottom">
            <div class="addStaff_Bottom1">
                <span class="addStaff_BottomSpan1">
                    客&nbsp;户&nbsp;名&nbsp;称：
                </span>
                <span class="addStaff_BottomSpan1">
                    <input type="text" value="{{name1}}" class="addStaff_BottomSpan1_input" id="name">
                </span>
            </div>
            <div class="addStaff_Bottom1">
                <span class="addStaff_BottomSpan1">
                    客&nbsp;户&nbsp;性&nbsp;别：
                </span>
                <span class="addStaff_BottomSpan2">
                    <span class="span400_2"><input type="radio" style="opacity: 0"><span class="radio on"></span>先生</span>
                    <span class="span400_3"><input type="radio" style="opacity: 0"><span class="radio"></span>女士</span>
                </span>
            </div>
            <div class="addStaff_Bottom1">
                <span class="addStaff_BottomSpan1">
                    客&nbsp;户&nbsp;电&nbsp;话：
                </span>
                <span class="addStaff_BottomSpan2">
                    <input type="text" value="{{tel}}" class="addStaff_BottomSpan1_input" id="tel">
                </span>
            </div>
            <div class="addStaff_Bottom1">
                <span class="addStaff_BottomSpan1">
                   客&nbsp;户&nbsp;编&nbsp;号：
                </span>
                <span class="addStaff_BottomSpan2">
                    <input type="text" value="{{openId}}" class="addStaff_BottomSpan1_input" id="openid">
                </span>
            </div>
            <ul class="ul400" style="margin-top: 0">
                <li id="addStaff_Btom">
                    <span class="span400_1_1 on sapn400queren addStaff_Btomqueren" ng-click="amendAffirm()">确认</span>
                    <span class="span400_1_1 sapn400reset addStaff_Btomreset" ng-click="amenddisable()">取消</span>
                </li>
            </ul>
        </div>
    </div>
</div>
