
<div class="bigSquare">
    <p class="top_P">修改密码</p>
    <ul class="ul400" id="system" style="display: block">
        <li>
            <span class="span400_1">员工名称：</span>
            <span class="span400_2"><span class="companyRight" style="left: 0;width: 280px">{{staffName}}</span></span>
        </li>
        <li>
            <span class="span400_1">员工账号：</span>
            <span class="span400_2"><span class="companyRight userNo" style="left: 0;width: 280px">{{staffNumber}}</span></span>
        </li>
        <li>
            <span class="span400_1">旧&nbsp;密&nbsp;&nbsp;码：</span>
            <span class="span400_2"><input type="text" class="userName userTel oldPassword" style="width: 280px;margin-right: 20px;" placeholder="输入密码"></span>
        </li>
        <li>
            <span class="span400_1">新&nbsp;密&nbsp;&nbsp;码：</span>
            <span class="span400_2">
                <input type="text" class="userName userTel newPassword" style="width: 280px" placeholder="输入新密码" ng-model="passWrodValue" ng-change="pwStrength(passWrodValue)">
                <span class="span400yanzheng"><img src="../Quote/img/changePassword/remind.png" alt="" class="span400yanzhengImg">设置一个包含数字和字母，并长度超过6位以上的密码</span>
            </span>
        </li>
        <li id="passWordVerifyHiddle" style="display: block">
            <div id="border_P">
                <p id="passWordStrength">
                <span id="passWordStrength_L"></span>
                <span id="passWordStrength_M"></span>
                <span id="passWordStrength_R"></span>
                </p>
            </div>
            <p id="passWordStrength1">
                <span>弱</span><span id="passWordStrength1_M">中</span><span>强</span>
            </p>
        </li>
        <li>
            <span class="span400_1">确认密码：</span>
            <span class="span400_2">
                <input type="text" class="userName newPasswordAgin" placeholder="输入密码"  style="width: 280px">
                <span id="passWordVerify" ng-if="flag">两次输入的密码不一样，请重新输入</span>
            </span>
        </li>
        <li>
            <span class="span400_1_1 on sapn400queren" ng-click="send(newPassword)">确认</span>
            <span class="span400_1_1 sapn400reset" ng-click="reset()">重置</span>
        </li>
    </ul>
    <div id="successM" style ="display: none;">
        <div id="successML">
            <img src="../Quote/img/changePassword/success.png" alt="">
        </div>
        <div id="successMR">
            <h1>恭喜，您的操作已成功！</h1>
            <p id="successMR_P">今后将使用新修改的密码登录系统，请您牢记您的密码！</p>
            <p id="successMR_P2">您可能需要：<span id="successMR_P2_span" ng-click="goLogin()">重新登录</span></p>
        </div>
    </div>
</div>