<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.AppUserDao">
    <!-- type为实体类，包名已经配置，可以直接写类名 -->
    <resultMap id="user" type="com.qcwy.entity.AppUser">
        <id property="id" column="id"/>
        <result property="job_no" column="job_no"/>
        <result property="pwd" column="pwd"/>
        <result property="name" column="name"/>
        <result property="tel" column="tel"/>
        <result property="sex" column="sex"/>
        <result property="id_card" column="id_card"/>
        <result property="birthday" column="birthday"/>
        <result property="online" column="online"/>
        <result property="lon" column="lon"/>
        <result property="lati" column="lati"/>
        <result property="loc" column="loc"/>
        <result property="update_time" column="update_time"/>
        <result property="regist_time" column="regist_time"/>
        <result property="order_count" column="order_count"/>
    </resultMap>

    <!-- useGeneratedKeys="true" keyProperty="id" 自动赋值自增长的值给实体类 -->
    <insert id="save" parameterType="com.qcwy.entity.AppUser" useGeneratedKeys="true" keyProperty="id">
        insert into
        t_app_user (job_no, name, id_card, birthday,regist_time)
        values (#{job_no},#{name},#{id_card},#{birthday},now())
    </insert>

    <select id="getUserByJobNo" resultMap="user">
        SELECT a.*,count(o.order_no) AS order_count
        FROM t_app_user a
        LEFT JOIN t_xt_order o
        ON a.job_no = o.job_no
        AND o.state IN (1,2,3,6,7,8,9)
        OR (o.state = 4 AND date_format(o.appointment_time,'%Y%m%d') = date_format(now(),'%Y%m%d'))
        WHERE a.job_no = #{jobNo}
    </select>

    <select id="login" resultMap="user">
        select * from t_app_user
        where job_no = #{jobNo} and pwd = #{pwd}
    </select>

    <select id="findAllOnline" resultMap="user">
        SELECT *,count(order_no) AS order_count
        FROM
        (
            SELECT a.*,o.order_no
            FROM t_app_user a
            LEFT JOIN t_xt_order o
            ON a.job_no = o.job_no
            AND o.state IN (1,2,3,6,7,8,9)
            OR (o.state = 4 AND date_format(o.appointment_time,'%Y%m%d') = date_format(now(),'%Y%m%d'))
        ) AS obj
        GROUP BY obj.job_no
    </select>

    <update id="updateLoc">
        update t_app_user
        set lati = #{lati}, lon = #{lon},loc = #{loc},update_time = now()
        where job_no = #{jobNo}
    </update>

    <update id="updatePwd">
        update t_app_user
        set pwd = #{pwd}
        where job_no = #{jobNo}
    </update>

    <update id="updateName">
        update t_app_user
        set name = #{name}
        where job_no = #{jobNo}
    </update>

    <select id="getUserName" resultType="string">
        select name from t_app_user
        where job_no = #{jobNo}
    </select>

    <select id="getAllUser" resultMap="user">
        SELECT * FROM t_app_user
    </select>

</mapper>