<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.OrderEvaluateDao">
    <insert id="save">
        INSERT INTO t_xt_order_evaluate (order_no,service_attitude,visit_speed,technical_ability
        <if test="orderEvaluate.remark != null">
            ,remark
        </if>
        ,time)
        VALUES
        (#{orderEvaluate.order_no},#{orderEvaluate.service_attitude},#{orderEvaluate.visit_speed},#{orderEvaluate.technical_ability}
        <if test="orderEvaluate.remark != null">
            ,#{orderEvaluate.remark}
        </if>
        ,#{orderEvaluate.time})
    </insert>

    <select id="getOrderEvaluate" resultType="com.qcwy.entity.OrderEvaluate">
        SELECT * FROM t_xt_order_evaluate
        WHERE order_no = #{orderNo}
    </select>

</mapper>