<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.OrderImageDao">

    <insert id="save">
        INSERT INTO t_xt_order_fault_image (order_no,image,state)
        VALUES (#{img.order_no},#{img.image},#{img.state})
    </insert>

</mapper>