<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.bg.PartModelDao">
    <select id="getAll" resultType="com.qcwy.entity.bg.PartModel">
        SELECT * FROM t_xt_part_model
    </select>

</mapper>