<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.bg.RoleMenuDao">
    <insert id="addRoleMenu">
        INSERT INTO t_bg_role_menu
        (role_id,menu_id)
        VALUES
        <foreach collection="menuIds" item="menuId" index="index" separator=",">
            (#{roleId},#{menuId})
        </foreach>
    </insert>
</mapper>