<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.VisitTimePriceDao">
    <select id="getAllTimePrice" resultType="com.qcwy.entity.VisitTimePrice">
        SELECT * FROM t_xt_visit_time_price
    </select>

    <update id="setTimePrice">
        UPDATE t_xt_visit_time_price
        SET time = #{timePrice.time},price = #{timePrice.price}
        WHERE id = #{timePrice.id}
    </update>
</mapper>