<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcwy.dao.WarehouseEmployeeDao">

    <select id="getPartByJobNoAndPartId" resultType="INTEGER">
        SELECT id from t_xt_warehouse_employee
        WHERE job_no = #{wE.job_no} AND part_detail_id = #{wE.part_detail_id}
    </select>

    <insert id="addPart" parameterType="com.qcwy.entity.WarehouseEmployee">
        INSERT INTO t_xt_warehouse_employee (job_no,part_detail_id,count)
        VALUES (#{wE.job_no},#{wE.part_detail_id},#{wE.count})
    </insert>

    <update id="updateCount">
        UPDATE t_xt_warehouse_employee
        SET count = count + #{wE.count}
        WHERE job_no = #{wE.job_no} AND part_detail_id = #{wE.part_detail_id}
    </update>

    <select id="getParts" resultType="com.qcwy.entity.WarehouseEmployee">
        SELECT * FROM t_xt_warehouse_employee
        WHERE job_no = #{jobNo}
    </select>

</mapper>